<% provide(:title, "About") %>

<div class="header header-filter" style="background: linear-gradient(to right, #4568dc, #b06ab3);"></div>
  <div class="main main-raised">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>About</h2>
          <p>
            This site is a simple Facebook clone.
            Built using Rails, this toy site is the capstone project for
            <a href="https://www.theodinproject.com/home">The Odin Project</a>'s Ruby on Rails course.
            This project utilizes many of the programming skill sets I have learned up to this point, including but not limited to:
            RESTful resources, MVC architecture, user authentication and authorization, data model relationships, third-party API integration, and testing.
            For more information about this project, check it out
            <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project?ref=lnav">here</a>.
          </p>
          <p>
            I would like to thank the folks at <a href="https://www.creative-tim.com/">Creative Tim</a> for this beautiful MD-inspired theme, and
            juanpfcruz for making this theme available <a href="https://github.com/juanpfcruzX/material_kit">Ruby style.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
