<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This site is a Facebook clone with the viking in mind.
  Built using Rails, this toy site is the capstone project for
  <a href="https://www.theodinproject.com/home">The Odin Project</a>'s Ruby on Rails course.
  This project integrates many of the programming skill sets I have learned up to this point, including but not limited to:
  MVC, authentication and authorization, data model relationships, and testing.
  For more information about this project, check it out
  <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project?ref=lnav">here</a>.
</p>
