<% provide(:title, 'Contact') %>
<div class="row">
  <div class="col-md-12">
    <%= image_tag("me-bw.jpeg", class: 'img-circle center-block', alt: "Chris", width: '283', height: '240') %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h4>Hi, I'm Chris.</h4>
    <p>I am an aspiring web developer and I am still in beta. Visit here in the future and maybe we can build something together.</p>
  </div>
</div>

<!-- TODO Add links to linkedin, github, and email -->