<% provide(:title, "Contact") %>

<div class="header header-filter" style="background: linear-gradient(to right, #4568dc, #b06ab3);"></div>
  <div class="main main-raised">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Contact</h2>
          <div class="avatar text-center">
            <%= image_tag("me_bw.png", class: 'img-circle img-raised', height: '240', width: '240', alt: "Chris Holder") %>
          </div>
          <div class="info text-center">
            <h3 class="title">Hi, I'm Chris.</h3>
            <a href="https://linkedin.com/in/chrispholder" class="btn btn-just-icon"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/holdercp" class="btn btn-just-icon"><i class="fa fa-github"></i></a>
            <a href="mailto:chrispholder@gmail.com" target="_top" class="btn btn-just-icon"><i class="fa fa-envelope"></i></a>

            <p>
              I am a web developer learning to program one line at a time.
              Here you will find links to my Linkedin, GitHub repositories, and email.
              If you'd like to build something together, let me know. I'd love to hear from you!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
