<% provide(:title, 'Home') %>
<div class="jumbotron text-center">
  <h1>Welcome to Longhouse</h1>
  <p>A social site that revolves around the things that makes life worth living: mead, glory, and Valhalla</p>
  <%= link_to 'Sign up!', '#', class: 'btn btn-primary btn-lg' %>
</div>