<div class="list-group-item">
  <div class="card">
    <div class="content">
      <h6><%= link_to favorite.user.name, user_path(favorite.user) %></h6>
      <p><%= favorite.content %></p>
    </div>
  </div>
</div>