<li class="list-group-item">
  <div class="card">
    <div class="content">
      <%= friend.name %>
      <!-- <%= link_to "Remove friend", friendship_path(friend), method: :delete, class: "btn btn-default btn-sm" %> -->
    </div>
  </div>
</li>
