<div class="nav-align-center">
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li class="active">
      <a href="#posts" role="tab" data-toggle="tab">
        <i class="material-icons">speaker_notes</i>
        Posts
      </a>
    </li>
  </ul>
</div>

<div class="tab-pane fade active in" id="posts">
  <ul class="media-group">
    <%= render @posts %>
  </ul>
</div>
