<div class="avatar">
  <%= image_tag("profile_placeholder.png", alt: "Circle Image", class: "img-circle img-responsive img-raised", id: "profile-image") %>
</div>
<div class="name">
  <h3 class="title text-center"><%= user.name %></h3>
</div>