<% provide(:title, "Friends List") %>
<div class="row">
  <h1>Friends List</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @friends.empty? %>
      <h4>You have no friends yet.</h4>
      <%= link_to "Go make some!", users_path, class: "text-primary" %>
    <% else %>
      <%= render 'friends_list' %>
    <% end %>
  </div>
</div>
