<div class="list-group">
  <% @received.each do |request| %>
    <li class="list-group-item">
      <div class="card">
        <div class="content">
          <h5><strong><%= request.user.name %></strong> wants to be your friend.</h5>
          <div class="btn-group">
            <%= link_to 'Accept', friend_request_path(request.id), method: :patch, class: 'btn btn-primary btn-raised btn-sm' %>
            <%= link_to 'Decline', friend_request_path(request.id), method: :delete, class: 'btn btn-default btn-sm' %>
          </div>
        </div>
      </div>

    </li>
  <% end %>
</div>
