<li class="list-group-item">
  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to post.user.name, post.user %></div>
    <div class="panel-body">
      <%= post.content %>
    </div>
  </div>
</li>