<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><a href="https://github.com/holdercp/odin-facebook">Source</a></li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; 2016, made with <i class="fa fa-heart heart"></i> by Creative Tim
    </div>
  </div>
</nav>
